<form name="loginForm" class="form-horizontal form-login" ng-submit="loginForm.$valid && action()" novalidate>
    <div class="form-group">
        <div ng-show="submitError" class="alert alert-warning">Вы ввели неправильный логин или пароль, попробуйте снова</div>
    </div>
    <div class="form-group">
        <label for="login" class="col-sm-2 control-label">Login</label>
        <div class="col-sm-8">
            <input name="loginField" type="text" class="form-control" id="login" placeholder="Login" ng-pattern="/^[a-zA-z]+$/" ng-model="login" required />
        </div>
        <div class="col-sm-2">
            <p for="login" class="form-control-static" ng-show="loginForm.loginField.$touched && loginForm.loginField.$error.required && loginForm.loginField.$invalid">*введите</p>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-8">
            <input name="passwordField" type="password" class="form-control" id="password" placeholder="Password" ng-model="password" ng-pattern="/^[a-zA-z0-9]+$/" required />
        </div>
        <div class="col-sm-2">
            <p for="login" class="form-control-static" ng-show="loginForm.passwordField.$touched && loginForm.passwordField.$error.required">*введите</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn" ng-class="[{'btn-primary': loginForm.$valid}, {disabled: loginForm.$invalid}]">Sign in</button>
        </div>
    </div>
</form>
